.slidecolour2 {
        background: rgba(255,255,255, 0.8);   
        }

    .introcolour {
        background: #192845;   
        }
      
                 
    html, body {
    height: 100%;
    display: flex;
    flex-direction: column;

    }

    .container-fluid {
    height: 100%;
    overflow-y: hidden !important; /* don't show content that exceeds my height */
    }

    .content {
    
    margin: 0;
    padding:0;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    z-index: 999;
    height: 100vh;
    
    }    
        
   body {
    padding-top: 50px;
    } 
        
    body > * {
      flex-shrink: 0;
    }

    .fullheight {
      min-height: 100%;
      padding-left: 15px;
      padding-top: 25px;
}
    
    .defaulttext {
      font-size: 14px;
    }    

    .rowflex {
      display: flex;
      flex-direction: column;
      height: 100vh;
      padding-left: 15px;
      padding-top: 25px;

    }
    .flex {
      flex: 1;

    }
    .rowflex, .rowflex > * {
      border: 1px solid;

    } 

    blockquote {
      background: #f9f9f9;
      border-left: 10px solid #ccc;
      margin: 1.5em 10px;
      padding: 0.5em 10px;

    }
    blockquote:before {
      color: #ccc;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
    blockquote p {
      display: inline;
    }

    .leaflet-container {

    }

    .scrollable-menu {
        height: auto;
        max-height: 400px;
        overflow-x: hidden;
    } 

    .bd-callout {
        padding: 1.25rem;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        border: 1px solid #eee;
        border-left-width: .25rem;
        border-radius: .25rem
    }

    .bd-callout h4 {
        margin-top: 0;
        margin-bottom: .25rem
    }

    .bd-callout p:last-child {
        margin-bottom: 0
    }

    .bd-callout code {
        border-radius: .25rem
    }

    .bd-callout+.bd-callout {
        margin-top: -.25rem
    }

    .bd-callout-info {
        border-left-color: #5bc0de
    }

    .bd-callout-info h4 {
        color: #5bc0de
    }

    .bd-callout-warning {
        border-left-color: #f0ad4e
    }

    .bd-callout-warning h4 {
        color: #f0ad4e
    }

    .bd-callout-danger {
        border-left-color: #ff5e58
    }

    .bd-callout-danger h4 {
        color: #ff5e58
    }
        
        
        
        
        
        
        
    
/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
    color: #252d43;
    background-color: #cdd2e2;
    border-color: #bfc7db;
}

.alert-primary hr {
    border-top-color: #afb8d2;
}

.alert-primary .alert-link {
    color: #131722;
}

.badge-primary {
    color: #fff;
    background-color: #526392;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
    color: #fff;
    background-color: #3f4c71;
}

.bg-primary {
    background-color: #526392 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #3f4c71 !important;
}

.border-primary {
    border-color: #526392 !important;
}

.btn-primary {
    color: #fff;
    background-color: #526392;
    border-color: #526392;
}

.btn-primary:hover {
    color: #fff;
    background-color: #45537b;
    border-color: #3f4c71;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(82, 99, 146, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #526392;
    border-color: #526392;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3f4c71;
    border-color: #3a4667;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(82, 99, 146, 0.5);
}

.btn-outline-primary {
    color: #526392;
    background-color: transparent;
    border-color: #526392;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #526392;
    border-color: #526392;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(82, 99, 146, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #526392;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #526392;
    border-color: #526392;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(82, 99, 146, 0.5);
}

.list-group-item-primary {
    color: #252d43;
    background-color: #bfc7db;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #252d43;
    background-color: #afb8d2;
}

.list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #252d43;
    border-color: #252d43;
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #bfc7db;
}

.table-hover .table-primary:hover {
    background-color: #afb8d2;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
    background-color: #afb8d2;
}

.text-primary {
    color: #526392 !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: #3f4c71 !important;
}

::-webkit-scrollbar-button{ display: none; height: 13px; border-radius: 0px; background-color: #AAA; } ::-webkit-scrollbar-button:hover{ background-color: #AAA; } ::-webkit-scrollbar-thumb{ background-color: #928152; border-radius: 0px; } ::-webkit-scrollbar-thumb:hover{ background-color: #839252; } ::-webkit-scrollbar-track{ background-color: #efefef; } ::-webkit-scrollbar-track:hover{ background-color: #CCC; } ::-webkit-scrollbar{ width: 10px; }